<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DJColorfulSlider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC2CF4F21DB9FF390073C3A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC2CF50B1DB9FF390073C3A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC2CF5161DB9FF390073C3A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
